<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--edge browser H5 compatible Settings-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <title>Green Space Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import file-->
    <script type="text/jsx"  src="/bootstrap3/js/holder.js"></script>
    <link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script type="text/jsx" src="/bootstrap3/jquery-1.9.1.min.js"></script>
    <script type="text/jsx" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- font -->
    <link rel="stylesheet" href="/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/top.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="/bootstrap3/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/autoLogin.js" type="text/javascript"></script>
</head>
<body>
<!--header-->
<header class="header">
    <img src="/images/index/logo.png" width = "60" height = "60" alt="" />
    <span class="pull-right"><small th:text="#{login.welcome}"></small><b> Green Space Club</b></span>
</header>
<!--main body-->
<div class="container mycontent text-left">
    <!--transparent layer -->
    <div class="loginDiv">
        <p th:text="#{forget_password.tip}">Please verify your account</p>
        <!--form start-->
        <form id="form-regis" class="form-horizontal" role="form">
            <!--email-->
            <div class="form-group">
                <label class="col-md-3 control-label"th:text="#{login.email}"></label>
                <div class="col-md-8">
                    <input name="email" type="text" class="form-control" th:placeholder="#{login.enterEmail}">
                </div>
            </div>
            <!--submit-->
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input id="btn-regis" class="btn btn-primary" th:value="#{verify.verify}" type="button" value="Verify" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--footer start-->
<footer class="footer">
    <!-- page bottom #footer -->
    <div class="col-md-12 text-center bottom">
        Copyright © 2021-2022<a target="_blank"> Green Space Club</a>
    </div>
</footer>
<!--footer end-->
<script type="text/javascript">
    function validEmail(email){
        var atpos=email.indexOf("@");
        var dotpos=email.lastIndexOf(".");
        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=email.length){
            alert("Invalid Email address formation");
            return false;
        }
    }

    function confirmPassword(password, confirm_password){
        if(password != confirm_password){
            alert("Repeat passwords do not match your password");
            return false;
        }
    }

    // listen to login button
    $("#btn-regis").click(function () {
        // var email = document.forms["form-regis"]["email"].value;
        // var password = document.forms["form-regis"]["password"].value;
        // var confirm_password = document.forms["form-regis"]["confirm_password"].value;
        // validEmail(email);
        // confirmPassword(password,confirm_password);
        //2. send ajax() to finish registration function
        $.ajax({
            url: "/users/forget-password",
            type: "POST",
            data: $("#form-regis").serialize(),
            dataType: "JSON",
            success: function (json){
                if(json.state === 200) {
                    location.href = "/users/verify_reset.html"
                }
                else
                    alert("Failed: " + json.message)
            },
            error: function (xhr){
                alert("Unknown Server Error!");
            }
        })
    })

</script>
</body>
</html>