<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--edge browser H5 compatible Settings-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <title>Green Space Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import file-->
    <script type="text/jsx"  src="/bootstrap3/js/holder.js"></script>
    <link href="/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script type="text/jsx" src="/bootstrap3/jquery-1.9.1.min.js"></script>
    <script type="text/jsx" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- font -->
    <link rel="stylesheet" href="/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/top.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="/bootstrap3/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/autoLogin.js" type="text/javascript"></script>
</head>
<body>
<!--header-->
<header class="header">
    <img src="/images/index/logo.png" width = "60" height = "60" alt="" />
    <span class="pull-right"><small th:text="#{login.welcome}"></small><b> Green Space Club</b></span>
</header>
<!--main body-->
<div class="container mycontent text-left">
    <!--transparent layer -->
    <div class="loginDiv">
        <p th:text="#{verify.tip}">Please verify your email</p>
        <!--form start-->
        <form id="form-verify" class="form-horizontal" role="form">

            <!--email-->
            <div class="form-group ">
                <label class="col-md-4 control-label" th:text="#{verify.email}">Send verification code to：</label>
                <div class="col-md-8">
                    <text name="email" type="text" th:text="${session.register.getEmail}"></text>
                </div>
            </div>
            <!--Verification code-->
            <div class="form-group">
                <label class="col-md-4 control-label" th:text="#{verify.code}"></label>
                <div class="col-md-8">
                    <input  name="code" type="text" th:placeholder="#{verify.enterCode}">
                    <button id="btn-send-code" type="button" class="btn btn-info btn-sm"th:text="#{verify.send}">Send</button>
                </div>
            </div>
            <!--submit-->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <input id="btn-regis" class="btn btn-primary" th:value="#{verify.verify}" type="button" value="Verify" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--footer start-->
<footer class="footer">
    <!-- page bottom #footer -->
    <div class="col-md-12 text-center bottom">
        Copyright © 2021-2022<a target="_blank"> Green Space Club</a>
    </div>
</footer>
<!--footer end-->
<script th:inline="javascript" type="text/javascript">
    // listen to login button
    var code = null;
    var email = [[${session.register.getEmail}]];
    //alert(email);
    $("#btn-send-code").click(function () {
        $.ajax({
            url: "/users/code-regis?email="+email,
            type: "GET",
            async:false,
            dataType: "JSON",
            success: function (json){
                if(json.state === 200) {
                    alert("Send Success");
                }
                else
                    alert("Regis Failed: " + json.message)
            },
            error: function (xhr){
                alert("Unknown Server Error!");
            }
        })
    })

    input_code = document.getElementsByName("code");
    $("#btn-regis").click(function () {
        //alert("input code:" + input_code);
        $.ajax({
            url: "/users/verify-regis?email="+email,
            type: "POST",
            data: $("#form-verify").serialize(),
            //data:{},
            dataType: "JSON",
            success: function (json){
                if(json.state === 200) {
                    alert("Regis Success");
                    location.href = "/users/login.html"
                }
                else
                    alert("Regis Failed: " + json.message)
            },
            error: function (xhr){
                alert("Unknown Server Error!");
            }
        })
    })

</script>
</body>
</html>