<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.greenspaceproject.dao.DistrictMapper">
    <select id="findStatesByCountry" resultType="java.lang.String">
        SELECT DISTINCT state
        FROM green_space_club.cities
        WHERE country = #{country}
    </select>
    <select id="findCitiesByState" resultType="java.lang.String">
        SELECT DISTINCT city
        FROM green_space_club.cities
        WHERE state = #{state}
    </select>
</mapper>